$black-0: rgb(0, 0, 0);
$black-1: rgb(32, 32, 32);
$grey-1: rgb(51, 51, 51);
$grey-2: rgb(102, 102, 102);
$grey-3: rgb(161, 161, 161);
$mid: rgb(204, 204, 204);
$white-0: rgb(255, 255, 255);
$white-1: rgb(252, 252, 252);
$white-2: rgb(228, 228, 228);
$white-3: rgb(217, 217, 217);

$light-1: rgb(242, 242, 235);
$light-2: rgb(245, 240, 235);
$dim-1: rgb(108, 113, 115);
$dim-2: rgb(144, 154, 158);

$primary-accent-1: rgb(253, 255, 149);
$primary-accent-2: rgb(255, 252, 81);
$primary-accent-3: rgb(255, 229, 36);
$primary-accent-4: rgb(255, 196, 40);
$primary-accent-5: rgb(255, 139, 56);
$primary-accent-6: rgb(217, 98, 72);
$primary-accent-7: rgb(189, 29, 32);

$secondary-accent-1: rgb(29, 72, 189);